<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="card col-md-3 style="width: 18rem;">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-group my-5">
          <div class="col-md-12 mb-3">
            <%= f.label :username, for: "validationDefault01" %>
            <%= f.text_field :username, class: "form-control", id: "validationDefault01", required: true, autofocus: true %>
          </div>
          <div class="col-md-12 mb-3">
            <%= f.label :password, for: "exampleInputPassword1" %>
            <%= f.password_field :password, class: "form-control", id: "exampleInputPassword1", required: true %>
          </div>
          <div class="col-md-6 mb-3">
            <%= f.submit "Login", type: "submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>