<div class="container">
<h1 class="text-info my-5">Update Your Profile</h1>
  <%= form_for(@user) do |f| %>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <%= f.label :username, for: "validationDefault01" %>
            <%= f.text_field :username, class: "form-control", id: "validationDefault01", required: true, autofocus: true %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <%= f.label :password, for: "validationDefault02" %>
            <%= f.password_field :password, class: "form-control", id: "validationDefault02" %>
          </div>
          <div class="col-md-4 mb-3">
            <%= f.label :password_confirmation, "Confirm Password", for: "validationDefault03" %>
            <%= f.password_field :password_confirmation, class: "form-control", id: "validationDefault03" %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <%= f.label :first_name, for: "validationDefault04" %>
            <%= f.text_field :first_name, class: "form-control", id: "validationDefault04", required: true %>
          </div>
          <div class="col-md-5 mb-3">
            <%= f.label :last_name, for: "validationDefault05" %>
            <%= f.text_field :last_name, class: "form-control", id: "validationDefault05", required: true %>
          </div>
          <div class="col-md-2 mb-3">
            <%= f.label :age, for: "validationDefault06" %>
            <%= f.text_field :age, class: "form-control", id: "validationDefault06", required: true %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <%= f.label :location, "City", class:'control-label' %> 
            <%= f.collection_select(:location_id, Location.all, :id, :city, { promt: 'Choose City' }, { class: 'form-control', required: true }) %>         
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault07">State</label>
            <select class="custom-select" id="validationDefault07">
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault08">Zip</label>
            <input type="text" class="form-control" id="validationDefault08">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <%= f.label :bio, "About Me", for: "validationDefault09" %>
            <%= f.text_area :bio, class: "form-control", id: "validationDefault09", :rows => 5, required: true %>
          </div>
          <div class="col-md-4 mb-3"></div>
          <%= f.label "Keep others updated about your interests", class: "h2 text-info my-5" %>
          <div class="col-md-12 mb-3 column-count-2">
            <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :name, required: true) do |b| %>
              <div class="collection-check-box">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
        </div>
        <%= f.submit "Update profile", type: "submit", class: "btn btn-outline-success" %>
  <% end %>
</div>