<h1 style="text-align: center; color:red; font-size:46px;">Register Page</h1>

<h4 style="text-align: center; color:blue; font-size:46px;">POSSIBLY A POP UP!</h4>

<div style="width: 250px; margin: 50px auto; border: 2px solid blue">
  <%= form_for(@user) do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Enter username" %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Enter password" %><br>
    <%= f.label "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation, placeholder: "Confirm password" %><br>
    <hr>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Enter first Name" %><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Enter last Name" %><br>
    <%= f.label :age, "How old are you?" %><br>
    <%= f.text_field :age, style: 'width:50px;' %><br>
    <%= f.label :bio %><br>
    <%= f.text_area :bio, :rows => 10, style: 'width:98%;', placeholder: "Tell others about you..." %><br>
    <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    <br><br>
    <%= f.submit "Register" %>
  <% end %>
</div>