<h1> Welcome, <%= @user.username %>!</h1>
<ul>
  <% @user.user_interests.each do |interest|%>
    <li> <%= interest %> </li>
  <% end %>
</ul>
<% if current_user.hangouts.count != 0 %>
  <h4>Your hangouts</h4>
  <% current_user.hangouts.each do |hg| %>
    <% hg.users.each do |user| %>
      <% if user.id != current_user.id %>
        <%= user.username %><br>
        <%= hg.activity %><br>
        <%= hg.location.city %><br><br>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h4>You have no hangouts yet!</h4>
<% end %>
<br><br><br>

<%= current_user.hangouts.inspect %>
<%= current_user.hangouts.count %>