<nav class="navbar navbar-expand-lg bg-transparent text-dark shadow-sm">
  <%= link_to "WH", home_path, class: "navbar-brand display-3 font-weight-bold text-danger" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user), class: "nav-link text-dark"%>
          <%= link_to "Show Matches", new_user_hangout_path, class: "nav-link text-dark" %> 
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link text-dark" %>
        <% else %>
          <%= link_to "Home", home_path, class: "nav-link text-dark" %>
          <%= link_to "Register", new_form_path, :remote => true, 'data-toggle' => "modal", 'data-target' => '#exampleModal', class: "nav-link text-dark" %>
          <%= link_to "Login", login_path, class: "nav-link text-dark" %> 
      <% end %>
    </ul>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render 'users/new_form' %>
    </div>
  </div>
</div>