<div>
  <p>
    <%= link_to "HOME", home_path %> | 
      <% if logged_in? %>
        <%= link_to "SHOW USERS", users_path %> | 
        <%= link_to "LOGOUT", logout_path, method: :delete %> | </p>
      <% else %>
        <%= link_to "LOGIN", login_path %> |
        <%= link_to "REGISTER", register_path %>
      <% end %>
  </p>
</div>