<div>
  <p>
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user) %> | 
        <%= link_to "Show Matches", new_user_hangout_path %> | 
        <%= link_to "Logout", logout_path, method: :delete %> </p>
      <% else %>
        <%= link_to "Home", home_path %> | 
        <%= link_to "Register", register_path %> |
        <%= link_to "Login", login_path %> 
      <% end %>
  </p>
</div>