
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wanna hangout?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
         <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user), class: "nav-link"%>
        <%= link_to "Show Matches", new_user_hangout_path, class: "nav-link" %> 
        <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
        <% else %>
        <%= link_to "Home", home_path, class: "nav-link" %>
        <%= link_to "Register", register_path, class: "nav-link" %>
        <%= link_to "Login", login_path, class: "nav-link" %> 
      <% end %>
    </ul>
  </div>
</nav>