<h2 style="text-align: center;">Here are your matches</h2>

<ul style="text-align: center; list-style: none;">
  <% current_user.match.each do |user| %>
    <div style="margin: 50px 50px;">
      <li>Username: <%= user.find_match.username %></li>
      <li>Age: <%= user.find_match.age %></li>
      <li>City: <%= user.find_match.location.city %></li>
    </div>
    <hr>
  <% end %>
  <%= form_for(@userhangout) do |f| %>
    <%= f.label :user_id, "Pick a match!" %><br><br>
    <%= f.collection_select(:user_id, current_user.match, :id, :username) %><br><br>  
    <%= f.submit "Choose Match" %>
  <% end %>
</ul>

<%= current_user.inspect %>
<%=  current_user.match %>